@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

html{
    height: 100%;
}
body{
  background: linear-gradient(50deg, #7383F7, #C384FB);
}
.search{
    margin: 100px auto auto auto;
    padding: 3%;
  }
.title{
    margin: auto;
    padding-top: 10%;
color: #ffffff;
font-family: 'Lobster Two', cursive;
font-size: 4.5rem;
}