@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

html,body{
    height: 100%;
}
body{
  background: url("img/background.svg") no-repeat,linear-gradient(50deg, #7383FF, #C384FB);
background-size:cover;
background-position:center;
color: #495057;
}
.search{
    margin: 100px auto auto auto;
    padding: 3%;
  }
.title{
    margin: auto;
    padding-top: 10%;
color: #ffffff;
font-family: 'Lobster Two', cursive;
font-size: 4.5rem;
}
#display-result{
    margin: auto;
    padding: 3%;
}
a{
    margin: auto;
color: #cecece;
}
footer{
    padding-bottom: 1%;
}